<footer data-layout="footer">
  <p>
  &#169;2020 David A. Herron </p>
  <p>An ongoing work in progress, built with <a href="https://www.11ty.dev/">Eleventy</a>. View the <a href="https://github.com/dvdherron/dh-11ty">source</a> and other projects on <a href="https://github.com/dvdherron">Github</a>. 
  </p>
</footer>