<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }}</title>
    <meta name="description" content="{{ data.description }}">
    {# <!-- capture the CSS content as a Nunjucks variable --> #}
    {% set css %}{% include "main.css" %}{% endset %}

    {# <!-- feed it through a cssmin filter to minify --> #}
    <style>
      {{css | cssmin | safe}}
    </style>

  </head>
  <body data-layout="body">
    <div data-layout="wrapper--main">
      <header id="banner" data-layout="banner">
        <p class="subtitle">{{ subtitle | safe }}</p>
        <h1 class="headline">{{ mainTitle | safe }}</h1>
        <b></b>
        <b></b>
        <b></b>
        <b></b>
        <b></b>
      </header>
      <main role="main">
        <section>
          <p>{{ intro }}
          </p>
          {{ content | safe }}
        </section>

        {# logic for adding a single section on index page #}

        {# {% set sections = collections.sections %}
      <h2>
        {{ sections[0].data.hed }}
      </h2>
      <p>
        {{sections[0].data.content | safe }}
      </p> #}

        {# logic for adding multiple sections on index page #}

        {# {%- for section in sections -%}
        {% include "_section.njk" %}
      {%- endfor -%} #}
      </main>
    </div>
  </body>
  {% include "_foot.njk" %}
</html>