{% macro project(name, description, src, img, width, height, alt, link) %}
  <h3>
    {{ name | safe }}</h3>
  {% if img %}
    <picture>
      <source type="image/webp" srcset="/_assets/images/{{ src }}">
      <img src="/_assets/images/{{ img }}" height="{{ height }}" width="{{ width }}" alt="{{ alt }}">
    </picture>
  {% endif %}
  <p>
    {{ description | safe }}
  </p>
  {% if link %}
    <p>
      <a href="{{ link }}"> View project </a>
    </p>
  {% endif %}

{% endmacro %}