{% macro project(name, description, img, width, height, alt, link) %}
  <h3>
    {{ name | safe }}</h3>
  {% if img %}
    <img src="/_assets/images/{{ img }}" height="{{ height }}" width="{{ width }}" alt="{{ alt }}">
  {% endif %}
  <p>
    {{ description | safe }}
  </p>
  {% if link %}
    <p>
      <a href="{{ link }}"> View project </a>
    </p>
  {% endif %}

{% endmacro %}