/* Inter Static Fonts */

/* Standard Extra Light, Bold */

@font-face {
  font-family: "Inter Extra Light";
  font-style: normal;
  font-weight: normal;
  src: url("_assets/fonts/Inter-ExtraLight.woff2") format("woff2"),
    url("_assets/fonts/Inter-ExtraLight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src: url("_assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("_assets/fonts/Inter-Bold.woff") format("woff");
  font-display: swap;
}

/* Inter Variable Font */
@font-face {
  font-family: "Inter Var";
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  src: url("_assets/fonts/Inter.var.woff2") format("woff2 supports variations"),
    url("_assets/fonts/Inter.var.woff2") format("woff2-variations");
  font-display: swap;
}

/* Global Remedies / Resets
******************/

/* Use border-box by default, globally */
*,
::before,
::after {
  box-sizing: border-box;
}

/*
* Consistent line spacing...
* CSS Inline Layout Module Level 3: https://drafts.csswg.org/css-inline-3/#line-sizing-property
*/
html {
  line-sizing: normal;
}

/* Remove the tiny space around the edge of the page */
body {
  margin: 0;
}

/* Headings
***********/

/* Switch to rem units for headings */
/* @@@ Initial values are based on existing browser defaults */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}

/* Keep h1 margins consistent, even when nested */
h1 {
  margin: 0.67em 0;
}

/* Typography
*************/

/* Overflow by default is bad */
pre {
  white-space: pre-wrap;
}

/*
* 1. Solid, thin horizontal rules
* 2. Remove Firefox `color: gray`
* 3. Remove default `1px` height, and common `overflow: hidden`
*/
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

/* Embedded Elements
********************/

/*
* 1. Block display is usually what we want
* 2. Remove strange space-below when inline
* 3. Responsive by default
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

/*
* Maintain intrinsic aspect ratios when `max-width` is applied
* (iframe, embed, and object have no intrinsic ratio, set height explicitly)
*/
img,
svg,
video,
canvas {
  height: auto;
}

/*
* There is no good reason elements default to 300px,
* and audio files are unlikely to come with a width attribute
*/
audio {
  width: 100%;
}

/* Old Browsers
***************/

/* Remove the border on images inside links in IE 10 and earlier */
img {
  border-style: none;
}

/* Hide the overflow in IE 10 and earlier */
svg {
  overflow: hidden;
}

/* Default block display on HTML5 elements */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/*
* 1. Add the correct box sizing in IE 10
* 2. Remove the padding in IE 10
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* End of CSS remedies/reset
******************/

/* Page Layout
******************/

:root {
  --fonts-base-serif: Georgia, "Times New Roman", Times, serif;
  --fonts-base-sans: Arial, Helvetica, sans-serif;
  /* --fonts-serif: Variable, Georgia, Times New Roman, Times, serif; */
  --fonts-sans-display: "Inter Var", Helvetica, Arial, sans-serif;
  --gutter-space: 1rem;
  --barheight-narrow: 125px;
  --barheight-wide: 18vw;
}

[data-layout="body"] {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  height: auto;
  font-family: var(--fonts-base-serif);
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 3px solid;
  text-decoration: none;
}

a:visited {
  color: #0f0281;
}

[data-layout="wrapper--main"] {
  padding: 5% 5% 0;
  margin: 0 auto;
  max-width: 80em;
}

[data-layout="banner"] {
  margin: 2rem auto 4rem;
  column-gap: 0.25rem;
  row-gap: 1rem;
  display: grid;
  grid-template-columns: minmax(2vw, 5vw) repeat(5, min-content);
  grid-auto-rows: min-content;
}

b {
  background-color: black;
  width: 15vw;
  display: inline-block;
  height: var(--barheight-narrow, 125px);
}

b:nth-of-type(1) {
  grid-column: 2;
  grid-row: 4 /6;
  /* margin-top: 40px; */
}

b:nth-of-type(2) {
  grid-column: 3;
  grid-row: 4 /6;
  margin-top: 20px;
}

b:nth-of-type(3) {
  grid-column: 4;
  grid-row: 4 /6;
}

b:nth-of-type(4) {
  grid-column: 5;
  grid-row: 4 /6;
  margin-top: 20px;
}

b:nth-of-type(5) {
  grid-column: 6;
  grid-row: 4 /6;
}

[data-layout="banner"] .subtitle {
  font-family: "Inter Extra Light",
    var(--fonts-base-sans, Arial, Helvetica, sans-serif);
  grid-column: 1 / -2;
  grid-row: 1;
  font-size: clamp(0.85rem, calc(1rem + 1vw), 4rem);
  margin: 0;
}

@supports (font-variation-settings: normal) {
  [data-layout="banner"] .subtitle {
    font-family: var(--fonts-sans-display);
    font-weight: 279;
  }
}

.headline {
  text-transform: lowercase;
  grid-column: 1/-1;
  grid-row: 2/ 4;
  font-family: "Inter Bold",
    var(--fonts-base-sans, Arial, Helvetica, sans-serif);
  margin: 0 0 2.25rem;
  font-synthesis: none;
  font-weight: bold;
  font-size: clamp(2.25rem, calc(10vw + 1.25vw), 5.5rem);
  line-height: 0.9;
}

@supports (font-variation-settings: normal) {
  .headline {
    font-family: var(--fonts-sans-display);
    font-weight: 796;
  }
}

.intro {
  margin: 0 auto 2rem;
  font-family: "Inter Extra Light";
  font-weight: 100;
  font-size: 7.6vw;
  position: relative;
  padding: 0;
  line-height: 1.1;
}

@supports (font-variation-settings: normal) {
  .intro {
    font-family: var(--fonts-sans-display);
    font-weight: 230;
  }
}

@media screen and (min-width: 464px) {
  .intro {
    font-size: calc(1.6em + 1.5vw);
  }
}

main p {
  font-size: 5.34vw;
}

@media screen and (min-width: 464px) {
  main p {
    font-size: calc(1.2em + 0.5vw);
  }
}

[data-layout="footer"]:before {
  content: "";
  background-color: hsla(0, 0%, 61%, 0.562);
  height: 0.12rem;
  display: block;
}

[data-layout="footer"] {
  margin: 6rem auto 2rem;
  font-family: var(--fonts-base-serif);
  font-size: 1em;
}

[data-layout="footer"] p {
  margin: 1rem 0;
}

@media screen and (min-width: 450px) {
  main p {
    padding: 0 5%;
    max-width: 40em;
    margin: 2rem auto;
  }
}

@media screen and (min-width: 600px) {
  [data-layout="banner"] {
    grid-template-columns: 0.5fr minmax(2vw, 25px) 1vw 0.045fr 0.08fr 0.05fr 0.075fr 0.175fr;
    column-gap: 0.45rem;
    grid-template-rows: 2rem min-content 20vh auto;
  }
  [data-layout="banner"] .subtitle {
    grid-row: 2;
  }
  .headline {
    grid-row: 3/4;
    grid-column: 1 / 3;
  }
  b {
    width: auto;
    height: auto;
  }

  b:nth-of-type(1) {
    grid-column: 4;
    grid-row: 2/4;
  }
  b:nth-of-type(2) {
    grid-column: 5;
    grid-row: 2/5;
  }
  b:nth-of-type(3) {
    grid-column: 6;
    grid-row: 1/9;
  }
  b:nth-of-type(4) {
    grid-column: 7;
    grid-row: 3/6;
  }
  b:nth-of-type(5) {
    grid-column: 8;
    grid-row: 2/5;
  }
}

@media screen and (min-width: 50em) {
  b:nth-child(even) {
    height: calc(var(--barheight-wide) + 3vw);
  }
}

@media screen and (min-width: 1000px) {
  [data-layout="banner"] {
    margin: 0 auto 4rem;
  }
}
