:root {
  --font-display: Arial, Helvetica, sans-serif;
  --font-body: Georgia, "Times New Roman", Times, serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header .headline {
  font-family: var(--font-display);
  text-align: right;
  width: 30%;
  font-synthesis: none;
  font-weight: bold;
  font-size: 2rem;
}

header .sub {
  font-family: var(--font-display);
}

body p {
  font-size: 1.3rem;
  font-family: var(--font-body);
}

main {
  padding: 0 2%;
}
