<section data-section="work" class="flow">
  <h2>Selected Work</h2>
  {% for item in collections.work %}
    {{ macros.project(
      item.data.name, 
      item.data.description,
      item.data.src,
      item.data.img, 
      item.data.width, 
      item.data.height, 
      item.data.alt, 
      item.data.link
      )}}
  {%- endfor -%}
</section>