---
title: Kandinsky's Birthday
description: To gain a better understainding of CSS Grid, I gave myself the task of turning a poster by Bauhaus graphic designer Herbert Bayer into a responsive web page. And then I led a workshop to explain how I did it.
layout: base.njk
---